name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Setup timezone
      uses: zcong1993/setup-timezone@v2.0.0
      with:
        timezone: Europe/Amsterdam
    - run: npm install
    - run: npm run lint
    - run: npm run test:ts
    - run: npm run test:coverage
    - run: npm run tsc
      env:
        CI: true
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: ./coverage
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true
